@charset "utf-8";
/* CSS Document */

@font-face {
   font-family: 'Pacifico-Regular';
   src: url('Pacifico-Regular.eot');
   src: url('Pacifico-Regular.eot?#iefix') format('embedded-opentype'),
   url('Pacifico-Regular.woff') format('woff'),
   url('Pacifico-Regular.ttf') format('truetype'),
   url('Pacifico-Regular.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}
